.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.collumn {
    border: solid 2px green;
    user-select: none;
}

.enclosure-cell {
    border: solid 3px blueviolet;
    user-select: none;
}

.device-cell {
    border: solid 2px blue;
    user-select: none;
}

.cell {

    border: solid 1px red;
    user-select: none;
}