.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.collumn {
    border: solid 2px green;
    user-select: none;
}

.cell {
    border: solid 1px red;
    user-select: none;
}

.odf {
    border:solid 2px green;
}

.enclosure {
    border: solid 3px blue;
}

.zone {
    border: solid 3px orangered;
}